<h2>Product Register</h2>

<form action="/registered" method="POST">
    <label for="product">
        <h2>Product: </h2>
    </label>
    <input type="text" name="product" placeholder="Digite o produto" required>

    <br>

    <label for="amount">
        <h2>Quantity avaliable: </h2>
    </label>
    <input type="number" name="amount">

    <br>

    <label for="amount">
        <h2>Value: </h2>
    </label>
    <input type="number" name="value" required>

    <br>

    <label for="discount">
        <h2>Discount: </h2>
    </label>
        <input type="text" name="discount">
    
    <input type="submit" value="Register">

</form>